<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="Statistics_projectRC" transaction-type="RESOURCE_LOCAL">

        <class>com.company.statisticsprojectrc.entity.Order</class>
        <class>com.company.statisticsprojectrc.entity.Locality</class>
        <class>com.company.statisticsprojectrc.entity.User</class>
        <class>com.company.statisticsprojectrc.entity.Customer</class>
        <class>com.company.statisticsprojectrc.entity.WSite</class>
        <class>com.company.statisticsprojectrc.entity.PaymentMethod</class>
        <class>com.company.statisticsprojectrc.entity.Project</class>
        <class>com.company.statisticsprojectrc.entity.Consultant</class>
        <class>com.company.statisticsprojectrc.entity.Cost</class>
        <class>com.company.statisticsprojectrc.entity.Duration</class>
        <class>com.company.statisticsprojectrc.entity.FormService</class>
        <class>com.company.statisticsprojectrc.entity.Product</class>
        <class>com.company.statisticsprojectrc.entity.Section</class>
        <class>com.company.statisticsprojectrc.entity.Section_Consultant</class>
    </persistence-unit>
</persistence>
